body {
	height: 100%;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#main-float {
	width: 85%;
	height: auto;
	margin: auto;
	margin-top: 7vh;
	margin-bottom: 7vh;
	padding: 10px;
	border-radius: 50px;
	background-color: white;
}

#banner {
	width: 85%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nav-item-text {
	color: #63ace5;
	font-size: 18px;
}

.nav-item-text:hover {
	color: #1976d2;
}

.nav-item-text.active {
	color: #1976d2;
}

#main-row {
	display: flex;
}

.column {
	height: 100%;
}

#left-col {
	width: 80%;
	padding: 30px;
}

#right-col {
	width: 20%;
	padding: 30px;
}

.carousel {
	width: 65%;
	margin: auto;
	border-radius: 30px;
    overflow: hidden;
}

#recent-shows-title {
	text-align: center;
}

#show-list {
	margin-left: 45px;
}

#showpic {
	width: 65%;
	margin: auto;
	display: block;
}

.fb-page {
	margin-right: 10px;
}

.link-cont {
  width: 100%;
}

.links {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: gray;
  text-decoration: none;
}

.link {
  color: inherit;
  display: inline;
  padding: 5px;
  padding-bottom: 10px;
  text-decoration: none;

}

.link:hover {
  color: black;
}

.board-member-container {
	width: 100%;
	display: flex;
}

.board-member-pic {
	width: 120%;
	padding-top: 7px;
}

.board-member-pic > img {
	width: 100%;
}

.board-member-text {
	flex-grow: 1;
	padding-left: 15px;
}

.show-container {
	text-align: center;
}

.show-history-title {
	padding-top: 10px;
}

@media only screen and (max-width: 2000px) {
 	#right-col {
 		width: 30%;
 	}
 	#left-col {
 		width: 70%;
 	}
}

@media only screen and (max-width: 1000px) {
	#right-col {
		display: none;
	}
	#left-col {
		width: 100%;
	}
	#showpic {
		width: 80%;
	}
	.carousel {
		width: 80%;
	}

	.board-member-container {
		display: inline-block;
	}
	.board-member-pic {
		width: 70%;
		padding: 15px;
	}
}